@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
#contenedor{
    min-height: 100vh;
    background: linear-gradient(180deg, #000000 0%, #1221AC 49.48%, #0075FF 100%);
    width: 100%;
}
.titulo{
    display: block;
    width: fit-content;
    height: fit-content;
    position: relative;
    font-size: 20px;
    color: #fff;
    font-family: 'Hammersmith One', sans-serif;
    left: 5%;
    top: 35px;
}
h2{
    position: absolute;
    color: #fff;
    left: 5%;
    top: 25%;
    width: 340px;
    font-size: 55px;
    font-weight: 500;
    font-family: 'Hammersmith One', sans-serif;
}
p{
    position: absolute;
    color: #fff;
    left: 5%;
    top: 47%;
    width: 340px;
    font-size: 20px;
    font-family: 'Hammersmith One', sans-serif;
}
.registro{
    box-sizing: border-box;
    position: absolute;
    width: 152px;
    height: 45px;
    left: 5%;
    top: 59%;
    color: #fff;
    background: rgba(0, 0, 0, 0.63);
    border: 1px solid #000000;
    border-radius: 50px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    transition: all .5s;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
}
.registro:hover{
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000000;
}
.inicio{
    box-sizing: border-box;
    position: absolute;
    width: 152px;
    height: 45px;
    left: 16%;
    top: 59%;
    color: #fff;
    background: rgba(0, 0, 0, 0.63);
    border: 1px solid #000000;
    border-radius: 50px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    transition: all .5s;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
}
.inicio:hover{
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000000;
}
img{
    position: absolute;
    left: 62.1%;
    top: 0px;
    opacity: .5;
    height: 100%;
    width: 37.9%;
}