@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Hammersmith One';
}
body{
    background-image: url(../img/socios.jpg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#contenedor-general{
    min-height: 100vh;
    width: 100%;
    display: grid;
    
}
.contenedor{
    display: grid;
    margin: auto;
    border-radius: 10px;
    width: 750px;
    height: 470px;
    background-color: #e5e5f7;
    opacity: 0.9;
    background-image:  radial-gradient(#0c2176 0.5px, transparent 0.5px), radial-gradient(#0c2176 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    border-radius: 10px;
}
.btn{
    width: 40px;
    height: 40px;
    background-color: #0c2176;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}
.btn:hover{
    background-color: #00104e;
}
i{
    position: relative;
    top: 34%;
    left: 50%;
    color: #fff;
    display: block;
    font-size: 25px;
    transform: translate(-50%,-50%);
}

#titulo{
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    justify-content: center;
    padding: 2rem;
    color: #0c2176;
}
.rectangulos{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}
.empresa-img{
    grid-column: 2 / 2;
    grid-row: 2 / 1;
}

.registro{
    width: 130px;
    height: 30px;
    margin-top: 2rem;
    background-color: #0c2176;
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    padding: 10px;
    border-radius: 60px;
    font-size: 18px;
    transition: all .5s
}
.registro:hover{
    background-color: #00104e;
}
img{
    display: flex;
    width: 200px;
    height: 200px;
}